services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  FriendsOfTYPO3\Kickstarter\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Domain/Model/*'

  FriendsOfTYPO3\Kickstarter\Configuration\ExtConf:
    public: true

  ##############
  ## COMMANDS ##
  ##############

  FriendsOfTYPO3\Kickstarter\Command\CommandCommand:
    tags:
      - name: console.command
        command: 'make:command'
        description: 'Add a console command to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\ControllerCommand:
    tags:
      - name: console.command
        command: 'make:controller'
        description: 'Add a controller to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\EventCommand:
    tags:
      - name: console.command
        command: 'make:event'
        description: 'Create a new Event for your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\EventListenerCommand:
    tags:
      - name: console.command
        command: 'make:eventlistener'
        description: 'Create a new Event Listener to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\ExtensionCommand:
    tags:
      - name: console.command
        command: 'make:extension'
        description: 'Create basic files for a new TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\MiddlewareCommand:
    tags:
      - name: console.command
        command: 'make:middleware'
        description: 'Add a middleware handler to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\ModelCommand:
    tags:
      - name: console.command
        command: 'make:model'
        description: 'Add an extbase model to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\PluginCommand:
    tags:
      - name: console.command
        command: 'make:plugin'
        description: 'Add a plugin to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\RepositoryCommand:
    tags:
      - name: console.command
        command: 'make:repository'
        description: 'Add an extbase repository to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\SiteSetCommand:
    tags:
      - name: console.command
        command: 'make:site-set'
        description: 'Add an site set configuration to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\SiteSettingsDefinitionCommand:
    tags:
      - name: console.command
        command: 'make:site-settings-definition'
        description: 'Add an site settings definition to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\TableCommand:
    tags:
      - name: console.command
        command: 'make:table'
        description: 'Add a TCA table to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\TestEnvCommand:
    tags:
      - name: console.command
        command: 'make:testenv'
        description: 'Add test environment to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\ValidatorCommand:
    tags:
      - name: console.command
        command: 'make:validator'
        description: 'Create a new Validator for a property or model. See also https://docs.typo3.org/permalink/t3coreapi:extbase-domain-validator'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\SitePackageCommand:
    tags:
      - name: console.command
        command: 'make:site-package'
        description: 'Configures and loads a new site package from https://get.typo3.org.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\TypeConverterCommand:
    tags:
      - name: console.command
        command: 'make:typeconverter'
        description: 'Create a new Extbase Type Converter to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\ApplyTypo3CglCommand:
    tags:
      - name: console.command
        command: 'make:applycgl'
        description: 'Enforces TYPO3 Coding Guidelines (CGL) on extension code. Note: Requires TYPO3 to be installed in Composer mode.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  FriendsOfTYPO3\Kickstarter\Command\UpgradeWizardCommand:
    tags:
      - name: console.command
        command: 'make:upgrade'
        description: 'Create a new Upgrade Wizard to your TYPO3 extension.'
        schedulable: false
    arguments:
      $questionCollection: '@questions.extension'

  ######################
  ## CREATOR SERVICES ##
  ######################

  FriendsOfTYPO3\Kickstarter\Service\Creator\CommandCreatorService:
    arguments:
      $commandCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.command' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\ControllerCreatorService:
    arguments:
      $extbaseControllerCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.controller.extbase' }
      $nativeControllerCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.controller.native' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\MiddlewareCreatorService:
    arguments:
      $middlewareCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.middleware' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\ModelCreatorService:
    arguments:
      $modelCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.domain.model' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\RepositoryCreatorService:
    arguments:
      $repositoryCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.domain.repository' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\ValidatorCreatorService:
    arguments:
      $validatorCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.domain.validator' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\EventCreatorService:
    arguments:
      $eventCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.event' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\EventListenerCreatorService:
    arguments:
      $eventListenerCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.event-listener' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\ExtensionCreatorService:
    arguments:
      $extensionCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.extension' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\PluginCreatorService:
    arguments:
      $extbasePluginCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.plugin.extbase' }
      $nativePluginCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.plugin.native' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\SitePackageCreatorService:
    arguments:
      $sitePackageCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.property.site-package'}
  FriendsOfTYPO3\Kickstarter\Service\Creator\TypeConverterCreatorService:
    arguments:
      $typeConverterCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.property.type-converter' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\SiteSetCreatorService:
    arguments:
      $siteSetCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.site-set' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\SiteSettingsDefinitionCreatorService:
    arguments:
      $siteSettingDefinitionCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.site-settings-definition' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\TableCreatorService:
    arguments:
      $tableCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.tca.table' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\TestEnvCreatorService:
    arguments:
      $testEnvCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.test.env' }
  FriendsOfTYPO3\Kickstarter\Service\Creator\UpgradeWizardCreatorService:
    arguments:
      $upgradeCreators: !tagged_iterator { tag: 'ext-kickstarter.creator.upgrade-wizard' }

  ###############
  ## QUESTIONS ##
  ###############

  factory.question:
    class: FriendsOfTYPO3\Kickstarter\Command\Input\QuestionFactory

  questions.extension:
    class: FriendsOfTYPO3\Kickstarter\Command\Input\QuestionCollection
    arguments:
      $questions: !tagged_iterator { tag: 'ext-kickstarter.command.extension.question' }

  FriendsOfTYPO3\Kickstarter\Command\Input\Question\ActionMethodNameQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.controller-action' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\CommandClassNameQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.command-class' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\CommandAliasQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.command-name' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\CommandNameQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.command-name' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\ComposerNameQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.composer_name' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\ControllerClassNameQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.controller-class' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\EmailQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.email' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\EventClassNameQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.event-class' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\EventListenerClassNameQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.event-listener-class-name' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\ExtensionKeyQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.extension_key' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\MiddlewareClassNameQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.middleware-class' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\MiddlewareIdentifierQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.middleware-identifier' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\ModelClassNameQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.model-class' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\NamespaceQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.namespace' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\PluginNameQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.plugin-name' }
  FriendsOfTYPO3\Kickstarter\Command\Input\Question\VersionQuestion:
    arguments:
      $inputHandlers: !tagged_iterator { tag: 'ext-kickstarter.inputHandler.version' }
