<html lang="en"
      data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:asset.css identifier="litegraph" href="EXT:kickstarter/Resources/Public/Css/litegraph.css"/>

<f:asset.script identifier="litegraph" src="EXT:kickstarter/Resources/Public/JavaScript/Contrib/Litegraph/litegraph.min.js"/>
<f:asset.script identifier="ext-kickstarter" src="EXT:kickstarter/Resources/Public/JavaScript/Kickstarter.js"/>

<f:be.pageRenderer includeJavaScriptModules="{0: '@friendsoftypo3/kickstarter/KickstarterModule.js'}"/>

<div id="graph-container">
    <button id="buildExtension" style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%);">Build Extension</button>
</div>
</html>
